<div id="<%= dom_id food %>">

  <p>
    <strong>Food:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= food.quantity %>
  </p>

  <%= button_to 'Remove', inventory_inventory_food_path(inventory), method: :delete %>

</div>
