<div class="card mt-4">
  <div class="card-body">
    <div>
    <h5 class="card-title"><%= link_to recipe.name, recipe %></h5>
     <%= button_to "Remove", recipe, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
    </div>
    <p class="card-text"><%= recipe.description %></p>
  </div>
</div>
