<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <div>
    <h1>My Recipes</h1>
     <%= link_to "Add new recipe", new_recipe_path, class: 'm-lg-3 m-2' %>
  </div>
  </div>

  <div id="recipes">
  <div>
  <% @recipes.each do |recipe| %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
    <div>
       <%= render recipe %>
    </div>
  <% end %>
  </div>
</div>
