<div class="mt-4">
  <p class="text-success"><%= notice %></p>

  <h1>Recipes</h1>

  <div class="my-recipes">
    <h1>My Recipes</h1>
    <%= link_to "Add new recipe", new_recipe_path, class: 'btn btn-primary m-lg-3 m-2' %>
  </div>

  <div class="recipes">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <div class="recipe-details">
          <%= render recipe %>
        </div>
      </div>
    <% end %>
  </div>
</div>
