<h1>Public Recipes</h1>

<div class="mt-4">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe, class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>
