<div id="<%= dom_id food %>" class="mt-4">
  <p><strong>Name:</strong> <%= food.name %></p>
  <p><strong>Measurement unit:</strong> <%= food.measurement_unit %></p>
  <p><strong>Unit Price:</strong> <%= food.price %></p>
</div>
