/* Entry point for your PostCSS build */

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.modal-container .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-container.show {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  background-color: #ddd;
}

/* reset for links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn a {
  color: white;
}

.card-title a {
  color: #333;
}

#new-invent-button {
  border: none;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-text {
  align-self: flex-start;
}

.shopping-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

  #shopping-list {
    margin-top: 20px;
    margin: 0 auto;
    max-width: 800px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

