<div id="<%= dom_id food %>">

  <p>
    <strong>Food:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= food.quantity %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= food.price * food.quantity %>$
  </p>

</div>
